:root{
    --Beige: rgba(255, 218, 179); /* Variable de couleur de fond */
    --BleuClair : rgba(42, 57, 144);
	--BleuClairDegrader : rgba(201, 218, 248);
    --Bleu : rgba(33, 45, 116);
}

body{
    background: var(--Bleu);
    color: var(--Beige);
}

#Entete{
	/*border: var(--BleuClairDegrader) 5px solid;*/	
	padding : 5.5%;
	background:linear-gradient(var(--BleuClairDegrader),var(--Bleu));
	
}

#Titre{
    text-align: center;
    margin: auto;
    font-size: 150%;
    width: 50%;
    border: 5px var(--Beige) solid;
    background: var(--BleuClair);
    border-radius: 100%;
    /*margin-top: 5%;*/
}

#Titre h1{
	font-size : 45px;
}
#Titre h2{
	font-size : 35px;
}

/* NAV */
nav{
    background: var(--BleuClair);
    padding: 20px;
}
nav button{
    color: var(--Beige);
    text-decoration: dotted;
    margin-left: 30%;
    border: 3px var(--Beige) solid;
    border-radius: 20%;
    padding: 20px;
    background: var(--BleuClair)
}

nav button:hover{
    background: var(--Bleu);

}

#Plan{
    margin: 5%;
}
#Plan button{
	margin-left:22.5%;
}

#Informations{
    display: none; 
}

/*Carte / Tableau*/




#Etage1{
    display: none;
}
#Etage1 table{
	background: url(../Images/Etage1.png) no-repeat;
    background-size: cover;
	border: 5px var(--Beige) solid;
	margin:2%;
}

#Etage1 td{
	width: 19.99%;/*155px*/
    height: 100px;
    border: 2px black solid;
    /*background-color: orange;*/
    color: white;
    font-size: 100%;
}

#Etage1 tr :hover{
    color: black;
}

/* Etage 2 */

#Etage2{
    display: none;
}
#Etage2 tbody{
    background: url(../Images/2024-03-22_16.33.00.png) no-repeat; /*N'OUBLIE PAS DE CHANNGER AVEC LES PLANS DE L'ETAGE 2 QUAND TU LES AURAS !!!*/
    background-size: cover;
    border: 5px var(--Beige) solid;
    margin:2%;
}
#Etage2 td{
	width: 19.99%;/*155px*/
    height: 100px;
    border: 2px black solid;
}

/*Rez de chaussé */

#RDC{
    display: none;
}
#RDC tbody{
    background: url(../Images/2024-03-22_16.33.00.png) no-repeat; /*N'OUBLIE PAS DE CHANNGER AVEC LES PLANS DE L'ETAGE 2 QUAND TU LES AURAS !!!*/
    background-size: cover;
    border: 5px var(--Beige) solid;
    margin:2%;
}
#RDC td{
	width: 19.99%;/*155px*/
    height: 100px;
    border: 2px black solid;
}
